@import "tailwindcss";

:root {
  --bg: #121212;
  --txt: #ffffff;
  
  --backdrop-color: rgba(0, 0, 0, 0.4);
  --sheet-bg: #18181b;
  --handle-color: #52525b;
  --text-muted: #a1a1aa;
  --button-bg: #27272a;
  --button-text: #d4d4d8;
  --button-hover: #3f3f46;

  --chapters: #363334;
  --saved: #1d1b1c;

  --h-c-1: #135c61;
  --h-c-2: #198558;
  --h-c-3: #b41c70;
  --h-c-4: #8f8100;
  --h-c-5: #540581;
  --h-c-6: #333333;
  --h-c-7: #102e33;

  --j: #e63946;
  --d: #e63946;
}

html {
  font-family: 'Roboto Serif', serif;
  background-color: var(--bg);
  color: var(--txt);
  overflow: hidden;
}

.wj {
  color: var(--j);
}